<h2><%=@restaurant.name%></h2>
<h2><%=@restaurant.address%></h2>
<h2><%=@restaurant.phone_number%></h2>
<h2><%=@restaurant.category%></h2>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %>, Rating: <%= review.rating %></li>
  <% end %>
</ul>
<button><%= link_to "Add a review", new_restaurant_review_path(@restaurant)%></button>
<%= link_to "Back to the list", restaurants_path%>
